  .App {
    text-align: center;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
    margin-bottom: 15px;
  }

  .App-header {
    background-color: whitesmoke;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .App-link {
    color: white;
  }

  .registro:first-child>div:first-child::after {
    content: "🔑";
  }

  .registro>div:last-child {
    font-size: 0.8rem;
    opacity: 0.6;
  }

  footer {
    height: 4.9vh;
    background: #282828;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
  }

  footer a {
    color: whitesmoke;
  }

  #login{
    margin-bottom: 15px;
  }